body{
    background-color: #F0EFE6;
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background-color: #FF7550;
    background-image: linear-gradient(to bottom right, #ff9376, #e13000);
    /*background-color: #FFAA44;*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    padding-bottom: 1em;
}

header > img{
    width: 200px;
}

header > #menu{
    width: 60%;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

header > h1{
    font-size: 4.5em;
    font-family: 'Marcellus', serif;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

header > #menu > a{
    margin:1em;
}

header > #menu > a > img{
    width: 30px;
    margin-right: 0.5em;
}



header > #menu > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


header > #menu > ul > li{
    list-style: none; 
    margin-left: 2em;  
}

header > #menu > ul > li > a , header > #menu > a{
    text-decoration: none;
    color: black;   
    font-size: 1.5em;
}

header > #menu > ul > li > .actual > a, header > #menu > .actual > a{
    text-decoration: none;
    color: white;   
    font-size: 1.5em;
}

header > #menu > ul > li > a:hover , header > #menu > a:hover{
    color: white; 
}


main{
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2{
    font-family: 'Marcellus', serif;
    font-size: 2.5em;
    padding-right: 1em;
    padding-left: 1em;
}


footer{
    background-color: #FF7550;
    background-image: linear-gradient(to bottom right, #ff9376, #e13000);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

footer > h4{
    margin: 1em;
}



.eventos {
    margin-top: 2em;
    
    /* flex */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.eventos > .evento{
    width: 90%;
    background-color: #DFD3CF;
    border-radius: 1em;
    margin-bottom: 1em;   

    /* flex */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.eventos  > .evento > img{
    margin: 1em;
    width: 250px;
    height: 250px;
    border-radius: 1em;
}

.eventos > .evento > .descripcion{
    margin: 1em;
    width: 65%;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.eventos  > .evento > .descripcion > h3{
    font-size: 2em;
    margin:0;
    padding:0;
    border:0;
}

.eventos  > .evento > .descripcion > h4{
    margin:0;
    padding:0;
    border:0;
}

.eventos  > .evento > .descripcion > p{
    margin:0;
    padding:0;
    border:0;
    text-align: justify;
}

.eventos > .evento > .descripcion > button{
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 1em;
    background-color: #EB3C2E;
    color: white;
    border: 0;
    box-shadow: 2em;
}

@media(max-width: 750px) {
    header  > h1{
       font-size: 3em;
    }
    .eventos > .evento > img{
        width: 100%;
    }
}
